:root {
  --width: 600px;
}

#title {
  width: var(--width);
  text-align: center;
  font-size: 30pt;
  font-weight: bold;
  margin: 40px 10px;
}

#canvas {
  width: var(--width);
  height: 200px;
}

#info {
  width: var(--width);
  text-align: center;
  font-size: 16pt;
  margin: 40px 10px;
}

#toolbar {
  display: flex;
  justify-content: center;
  width: var(--width);
}

#toolbar button {
  margin: 5px 5px;
  width: 80px;
  height: 30px;
  border-radius: 5px;
}

#toolbar button:hover:enabled {
  background: #3366cc;
  color: yellow;
}

.katex {
  font-size: 0.75em !important;
}
